* {
    font-family: 'Sulphur Point', sans-serif;
}

body {
    background: url(imagenes/quienesSomos.jpeg) no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
}

header {
    height: 40px;
    widows: 100%;
    padding: 10px;
    text-align: center;
    font-size: larger;
}

header
a {
    margin: 0 10px;
    color: deeppink;
    text-decoration: none;
}

.fa {
    color: black;
}

a:visited {
    color: deeppink;
}

section {
    text-align: center;
    color: deeppink;
    padding: 20%;
    font-size: larger;
}

#titulo {
    font-size: xx-large;
}

hr {
    border: 5px solid deeppink;
    width: 500px;
}